# Documentation à propos de cette page : https://fshschool.org/docs/sushi/configuration/

id: ans.document.fr.core
canonical: https://interop.esante.gouv.fr/ig/document/core # the last part of canonical and id must be the same
name: ExampleIG # Should be an acronym
title: ANS IG document core
publisher:
  name: Agence du Numérique en Santé (ANS) - 2-10 Rue d'Oradour-sur-Glane, 75015 Paris
  url: https://esante.gouv.fr
status: draft
version: 0.1.0 # shall conforms to Semantic Versioning https://fr.wiktionary.org/wiki/SemVer
fhirVersion: 4.0.1
copyrightYear: 2020+
releaseLabel: ci-build # le release label doit être conforme au cycle de vie de la doctrine du ci-sis
jurisdiction: urn:iso:std:iso:3166#FR "FRANCE"

parameters: #Parameters list - https://build.fhir.org/ig/FHIR/fhir-tools-ig/CodeSystem-ig-parameters.html
  shownav: 'true'
  excludettl: 'true'
  generate-turtle: 'false'
  generate-json: 'false'

dependencies:
  hl7.cda.uv.core: 2.0.0-sd
  ans.fr.terminologies: latest
  hl7.fhir.fr.core: 2.1.0
  hl7.fhir.extensions.r5: 4.0.1
  hl7.fhir.uv.extensions.r4: 5.2.0
  ans.fhir.fr.annuaire: 1.1.0
  hl7.fhir.uv.fhir-clinical-document: latest
  ihe.pharm.mpd: 1.0.0-comment-2 

pages:
    index.md:
        title: Accueil
    structureGenerale.md:
        title: Structure générale document
        introduction.md:
            title: Introduction
        exigencesSpecifiques.md:
            title: Exigences spécifiques
        ressourcesCDA-struc-gen.md:
            title: CDA
        ressourcesFHIR-struc-gen.md:
            title: FHIR
        mappingCDA-FHIR-struc-gen.md:
            title: Mapping CDA / FHIR
    enteteDocument.md: 
        title: Entête document
        ressourcesCDA-entete.md:
            title: CDA
        ressourcesFHIR-entete.md:
            title: FHIR
        mappingCDA-FHIR-entete.md:
            title: Mapping Métier/CDA/FHIR
    corpsDocument.md:
        title: Corps d'un document  
        modelesLogiquesMetier-corps.md:
            title: Modèle logique métier
        ressourcesCDA-corps.md:
            title: CDA
        ressourcesFHIR-corps.md:
            title: FHIR
        mappingCDA-FHIR-corps.md:
            title: Mapping Métier/CDA/FHIR
    autres_ressources.md:
        title: Autres Ressources
        securite.md:
            title: Sécurité
        downloads.md:
            title: Téléchargements et usages      

menu:
    Accueil: index.html
    Structure générale document:
        Introduction: introduction.html
        Exigences spécifiques: exigencesSpecifiques.html
        CDA: ressourcesCDA-struc-gen.html
        FHIR: ressourcesFHIR-struc-gen.html
        Mapping CDA / FHIR: mappingCDA-FHIR-struc-gen.html
    Entête document:
        Modèle logique métier: StructureDefinition-fr-lm-entete-document.html
        CDA: ressourcesCDA-entete.html
        FHIR: ressourcesFHIR-entete.html
        Mapping Métier/CDA/FHIR: mappingCDA-FHIR-entete.html
    Corps d'un document:
        Modèle logique métier: modelesLogiquesMetier-corps.html
        CDA: ressourcesCDA-corps.html
        FHIR: ressourcesFHIR-corps.html
        Mapping Métier/CDA/FHIR: mappingCDA-FHIR-corps.html
    Ressources de conformité: artifacts.html
    Autres ressources:
        "Espace de publication du CI-SIS" : new-tab https://esante.gouv.fr/offres-services/ci-sis/espace-publication
        "Serveur Multi-terminologies": new-tab https://smt.esante.gouv.fr/
        "Serveur Multi-terminologies / FHIR": new-tab https://smt.esante.gouv.fr/fhir
        "IG terminologies et jeux de valeurs du CI-SIS": new-tab https://ansforge.github.io/IG-terminologie-de-sante/ig/main/index.html 
        "Espace de tests du CI-SIS": new-tab https://interop.esante.gouv.fr/
        "testContenuCDA": new-tab https://github.com/ansforge/TestContenuCDA-3-0
        Sécurité: securite.html
        "Standard CDA": new-tab https://hl7.org/cda/stds/online-navigation/index.html
        "Standard FHIR": new-tab https://hl7.org/fhir/R4/index.html
        "Documentation des guides d'implémentation de l'ANS": new-tab https://interop.esante.gouv.fr/ig/documentation/index.html 
        Téléchargements et usage: downloads.html
        
groups:
  Modèles logiques:
    name: Modèle logique métier
    #description: Modèle logique métier
    resources:
      - FRLMEnteteDocument	
      - FRLMPatientUsager
      - FRLMAuteur
      - FRLMPersonneStructure
      - FRLMPersonneStructureAuteur
      - FRLMSystemeStructureAuteur
      - FRLMInformateur
      - FRLMStructureConservation
      - FRLMDestinatairePrevu
      - FRLMResponsable
      - FRLMValidateur
      - FRLMOperateurSaisie
      - FRLMParticipant
      - FRLMPrescription
      - FRLMEvenement
      - FRLMDocumentDeReference
      - FRLMConsentement
      - FRLMPriseEncharge

  Ressources CDA:
    name: Eléments CDA
    #description: Profils CDA
    resources:
      - StructureDefinition/fr-cda-clinical-document
      - StructureDefinition/fr-cda-assigned-entity
      - StructureDefinition/fr-cda-associated-entity
      - StructureDefinition/fr-cda-record-target
      - StructureDefinition/fr-cda-author
      - StructureDefinition/fr-cda-data-enterer
      - StructureDefinition/fr-cda-assigned-author
      - StructureDefinition/fr-cda-informant
      - StructureDefinition/fr-cda-related-entity
      - StructureDefinition/fr-cda-custodian
      - StructureDefinition/fr-cda-information-recipient
      - StructureDefinition/fr-cda-assigned-custodian
      - StructureDefinition/fr-cda-legal-authenticator
      - StructureDefinition/fr-cda-authorization
      - StructureDefinition/fr-cda-inFulfillment-of
      - StructureDefinition/fr-cda-documentation-of
      - StructureDefinition/fr-cda-performer
      - StructureDefinition/fr-cda-related-document
      - StructureDefinition/fr-cda-component-of
      - StructureDefinition/fr-cda-intended-recipient
      - StructureDefinition/fr-cda-patient-role
      - StructureDefinition/fr-cda-assigned-person
      - StructureDefinition/fr-cda-authenticator
      - StructureDefinition/fr-cda-authoring-device
      - StructureDefinition/fr-cda-participant
      - StructureDefinition/fr-cda-patient
      - StructureDefinition/fr-cda-represented-custodian-organization
      - StructureDefinition/fr-cda-represented-organization
      - StructureDefinition/fr-cda-service-event
      - StructureDefinition/fr-cda-order
      - StructureDefinition/fr-cda-parent-document
      - FRCDAName
      - StructureDefinition/fr-cda-encompassing-encounter
      - StructureDefinition/fr-cda-encounter-participant
      - StructureDefinition/fr-cda-health-care-facility

  Ressources FHIR entête:
    name: Profils FHIR entête
    resources:
      - StructureDefinition/fr-bundle-document
      - StructureDefinition/fr-composition-document
      - StructureDefinition/fr-patient-document
      - StructureDefinition/fr-patient-ins-document
      - StructureDefinition/fr-practitionerRole-document
      - StructureDefinition/fr-practitioner-document
      - StructureDefinition/fr-organization-document
      - StructureDefinition/fr-device-auteur-document
      - StructureDefinition/fr-encounter-care-document
      - StructureDefinition/fr-location-document
      - StructureDefinition/fr-related-person-document
     
  Ressources FHIR corps:
      name: Profils FHIR corps
      resources:
        - StructureDefinition/fr-advance-directive-document
        - StructureDefinition/fr-adverse-event-document
        - StructureDefinition/fr-allergie-intolerance-document
        - StructureDefinition/fr-care-plan-document
        - StructureDefinition/fr-condition-document
        - StructureDefinition/fr-device-request-document
        - StructureDefinition/fr-device-use-statement-document
        - StructureDefinition/fr-diagnostic-report-document
        - StructureDefinition/fr-diagnostic-report-bio-chapter-document
        - StructureDefinition/fr-diagnostic-report-imaging-document
        - StructureDefinition/fr-document-reference-document
        - StructureDefinition/fr-encounter-document
        - StructureDefinition/fr-endpoint-wado-document
        - StructureDefinition/fr-family-member-history-document
        - StructureDefinition/fr-imaging-study-document
        - StructureDefinition/fr-immunization-document
        - StructureDefinition/fr-immunization-recommendation-document
        - StructureDefinition/fr-media-document
        - StructureDefinition/fr-medication-document
        - StructureDefinition/fr-medication-administration-document
        - StructureDefinition/fr-medication-statement-document
        - StructureDefinition/fr-service-request-document
  
  Data Type FHIR:
    name: Data Type Profiles 
    resources:
      - StructureDefinition/fr-human-name-document
      - StructureDefinition/fr-accession-number-identifier-imaging-document
      - StructureDefinition/fr-study-instance-uid-identifier-document

  Extensions FHIR entête:
    name: Extensions FHIR entête
    resources:
      - StructureDefinition/fr-author-time-extension
      - StructureDefinition/fr-performer-event-extension

  Extensions FHIR corps:
    name: Extensions FHIR corps
    resources:
      - StructureDefinition/fr-actor-extension
      - StructureDefinition/fr-family-member-history-body-site-extension
      - StructureDefinition/fr-procedure-difficulty-extension
      - StructureDefinition/fr-interpretation-extension
      - StructureDefinition/fr-method-extension
      - StructureDefinition/fr-procedure-priority-extension
      - StructureDefinition/fr-medication-administration-sequence-extension
      - StructureDefinition/fr-immunization-type-extension
      - StructureDefinition/fr-medication-request-out-of-nomenclature-extension
      - StructureDefinition/fr-number-of-frames-extension
      - StructureDefinition/fr-not-covered-extension
      - StructureDefinition/fr-status-reason-extension

  Mapping:
    name: Concept Maps
    resources:
      - mappingmodelemetierCDAFHIR
      - mappingPatientCDAFHIR
      - mappingAuteurCDAFHIR
      - mappingOperateurSaisieCDAFHIR	
      - mappingInformateurCDAFHIR
      - mappingStructureConservationCDAFHIR
      - mappingDestinatairePrevuCDAFHIR
      - mappingResponsableCDAFHIR
      - mappingValidateurCDAFHIR
      - mappingParticipantCDAFHIR
      - mappingPrescriptionCDAFHIR
      - mappingEvenementCDAFHIR
      - mappingDocumentDeReferenceCDAFHIR
      - mappingConsentementCDAFHIR
      - mappingPriseEnchargeCDAFHIR
      - mappingPersonneStructureAssignedEntityFHIR
      - mappingPersonneStructureRelatedEntityFHIR
      - mappingPersonneStructureAuteurFHIR
      - mappingSystemeFHIR
      - mappingAdministrativeGender

resources:
  Binary/BIO-CR-BIO-2024.01-glycemie-mole:
    name: BIO-CR-BIO_2024.01_Glycemie_mole
    description: Compte-rendu d’examens de biologie médicale autoprésentable (BIO-CR-BIO_Glycémie mole_1_2021.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document

  Binary/BIO-CR-BIO-2024.01-Microbiologie-V1:
    name: BIO-CR-BIO_2024.01_Microbiologie_V1
    description: Compte-rendu d’examens de biologie médicale - exemple Microbiologie (BIO-CR-BIO-2024.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document
  Binary/eDISP-MED-2024.01:
    name: eDISP-MED-2024.01
    description: eDispensation de médicaments (eDISP-MED-2024.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document
  Binary/eP-MED-DM-2024.01-PosoStruct:
    name: eP-MED-DM_2024.01_PosoStruct
    description: ePrescription de médicaments et/ou de dispositifs médicaux (eP-MED-DM_2024.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document
  Binary/eP-MED-DM-2024.01-PosoNonStruct:
    name: eP-MED-DM_2024.01_PosoNonStruct
    description: ePrescription de médicaments et/ou de dispositifs médicaux (eP-MED-DM_2024.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document
#   Binary/IMG-CR-IMG-2024.01:
#     name: IMG-CR-IMG
#     description: Compte-rendu d'examen d'imagerie médicale (IMG_CR_IMG_2024.01)
#     exampleBoolean: true
#     profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document
  Binary/IPS-FR-2024.01:
    name: IPS-FR
    description: Volet International Patient Summary - France (IPS-FR_2024.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document
  Binary/LDL-SES-2022.01:
    name: LDL-SES_2022.01
    description: Document Lettre de liaison à la sortie d'un établissement de soins (LDL-SES_2022.01)
    exampleBoolean: true
    profile: https://interop.esante.gouv.fr/ig/document/core/StructureDefinition/fr-core-clinical-document